
.sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 170px;
    height: 100%;
    background-color: darkcyan;
    padding-top: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 15px;
    text-align: center;
}

.sidebar ul li a {
    text-decoration: none;
    color: white;
    display: block;
}

.sidebar ul li:hover {
    background-color: #007b7f;
}

body {
    background-color: #f4f4f4;
    margin: 20px;
    margin-left: 250px;
    padding: 20px;
}

.search {
    display: flex;
    float: right;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-top: 20px;
    min-width: 350px;
}

.search input[type="text"] {
    width: 300px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search button {
    padding: 10px;
    background-color: #008b8b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search button:hover {
    background-color: #007b7f;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    width: 50%;
    border-radius: 5px;
}

.close {
    float: right;
    font-size: 24px;
    cursor: pointer;
}

.edit-btn {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit-btn:hover {
    background-color: #45a049;
}

.delete-btn {
    background-color: #f44336;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #d32f2f;
}

.entry {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 20px;
    gap:10px;
}

.savebtn {
    display: block;
    margin: 20px auto;
    width: 150px;
    height: 50px;
    background-color: #007b7f;
    color:white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: darkcyan;
    color: white;
}
