<html>
<head>
    <title>OSU - CS 340 - Introduction to Databases - Flask Demo Project</title>
</head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<nav>
    <div>
        <ul>
            {% for link in nav_links %}
                <li>
                    <a href="{{ link.url }}">{{ link.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>

{% block content %}
<body>
    <h1>Anime Recommender App</h1>
    <p>Something about how this is the greatest app ever.</p>
</body>
</html>

{% endblock %}